.pets__container > *:not(:last-child) {
  margin-bottom: 30px;
}

.pets__slider-wrapper {
  width: 3240px;
  height: 495px;
  display: flex;
  overflow: hidden;
}

.pets__slider-items {
  align-items: center;
  width: 1080px;
}

@keyframes next {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-1080px);
  }
}

@keyframes prev {
  0% {
    transform: translateX(-1080px);
  }

  100% {
    transform: translateX(0);
  }
}

.pets__slider-item {
  height: 435px;
  margin-left: 45px;
  margin-right: 45px;
  transform-style: preserve-3d;
}

@keyframes left {
  15% {
    box-shadow: -6px 0px 7px 0px rgba(13, 13, 13, 0.34);
  }

  50% {
    transform: perspective(1000px) rotateY(30deg);
    box-shadow: -46px 0px 28px -3px rgba(13, 13, 13, 0.34);
  }
  100% {
    transform: none;
    box-shadow: none;
  }
}

@keyframes right {
  15% {
    box-shadow: -6px 0px 7px 0px rgba(13, 13, 13, 0.34);
  }

  50% {
    transform: perspective(1000px) rotateY(-30deg);
    box-shadow: 46px 0px 28px -3px rgba(13, 13, 13, 0.34);
  }
  100% {
    transform: none;
    box-shadow: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .pets__slider-wrapper {
    width: 580px;
  }

  .pets__slider-items {
    width: 580px;
  }

  @keyframes next {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-580px);
    }
  }

  @keyframes prev {
    0% {
      transform: translateX(-580px);
    }

    100% {
      transform: translateX(0);
    }
  }

  .pets__slider-item {
    margin-left: 0;
    margin-right: 0;
  }

  .pets__slider-item:last-child {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .pets__container > *:not(:last-child) {
    margin-bottom: 12px;
  }

  .pets__slider-wrapper {
    width: 900px;
  }

  .pets__slider-items {
    width: 300px;
  }

  @keyframes next {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-300px);
    }
  }

  @keyframes prev {
    0% {
      transform: translateX(-300px);
    }

    100% {
      transform: translateX(0);
    }
  }

  .pets__slider-item {
    margin-left: 15px;
    margin-right: 15px;
  }

  .pets__slider-item:not(:first-child) {
    display: flex;
  }
}
