body.no-scroll {
  overflow: hidden;
}

.burger__button {
  display: none;
  position: absolute;
  top: 49px;
  right: 43px;
  z-index: 8;
  width: 30px;
  height: 22px;
  cursor: pointer;
}

.burger__button::before,
.burger__button::after {
  content: "";
  border: 1px solid #f1cdb3;
  position: absolute;
  width: 100%;
  left: 0;
}

.burger__button::before {
  top: 0;
}
.burger__button::after {
  bottom: 0;
}
.burger__button span {
  border: 1px solid #f1cdb3;
  position: absolute;
  width: 100%;
  left: 0;
  top: 10px;
}

.burger__button.active {
  transform: rotate(90deg);
  animation: rotate-in 0.3s;
}

@keyframes rotate-in {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(90deg);
  }
}

.burger__button.inactive {
  transform: rotate(0deg);
  animation: rotate-out 0.3s;
}

@keyframes rotate-out {
  from {
    transform: rotate(90deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.burger__logo {
  display: none;
}

.body__shadow {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  width: 100%;
  height: 100%;
  background-color: #29292999;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.body__shadow.active {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .burger__button {
    display: block;
  }

  .header__logo.active {
    opacity: 0;
    transition: 0.3s;
  }

  .burger__logo.active {
    display: inline-block;
    position: fixed;
    top: 31px;
    right: 125px;
    z-index: 10;
    opacity: 1;
  }

  .burger__body::before {
    content: "";
    position: sticky;
    top: 0;
    right: 10px;
    width: 300px;
    padding: 70px 0 70px 0;
    background: linear-gradient(
      180deg,
      rgba(41, 41, 41, 1) 76%,
      rgba(41, 41, 41, 0.8855917366946778) 85%,
      rgba(41, 41, 41, 0.7539390756302521) 90%,
      rgba(41, 41, 41, 0.5802696078431373) 95%,
      rgba(41, 41, 41, 0.4150035014005602) 100%
    );
    z-index: 7;
  }

  .burger__body {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    right: -320px;
    z-index: 7;
    width: 320px;
    background: #292929;
    height: 100%;
    margin: 0;
    padding: 0 10px 248px 10px;
    overflow-y: scroll;
  }

  .burger__body.active {
    display: flex;
    right: 0;
    opacity: 1;
    animation: slide-in 0.5s;
  }

  @keyframes slide-in {
    from {
      right: -320px;
      opacity: 0;
    }

    to {
      right: 0;
      opacity: 1;
    }
  }

  .burger__body.inactive {
    display: flex;
    right: -320px;
    opacity: 0;
    animation: slide-out 0.5s;
  }

  @keyframes slide-out {
    from {
      right: 0;
      opacity: 1;
    }

    to {
      right: -320px;
      opacity: 0;
    }
  }

  .menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    gap: 39px;
    width: 243px;
    height: 327px;
    margin-top: 108px;
  }

  .menu__link {
    font-size: 32px;
    text-align: center;
  }

  *::-webkit-scrollbar {
    width: 0;
  }
}
