@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/arial-regular.eot");
  src: url("../../assets/fonts/arial-regular.eot") format("embedded-opentype"),
    url("../../assets/fonts/arial-regular.woff2") format("woff2"),
    url("../../assets/fonts/arial-regular.woff") format("woff"),
    url("../../assets/fonts/arial-regular.ttf") format("truetype"),
    url("../../assets/fonts/arial-regular.svg#arial-regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/arial-italic.eot");
  src: url("../../assets/fonts/arial-italic.eot") format("embedded-opentype"),
    url("../../assets/fonts/arial-italic.woff2") format("woff2"),
    url("../../assets/fonts/arial-italic.woff") format("woff"),
    url("../../assets/fonts/arial-italic.ttf") format("truetype"),
    url("../../assets/fonts/arial-italic.svg#arial-italic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/georgia-regular.eot");
  src: url("../../assets/fonts/georgia-regular.eot") format("embedded-opentype"),
    url("../../assets/fonts/georgia-regular.woff2") format("woff2"),
    url("../../assets/fonts/georgia-regular.woff") format("woff"),
    url("../../assets/fonts/georgia-regular.ttf") format("truetype"),
    url("../../assets/fonts/georgia-regular.svg#georgia-regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/georgia-bold.eot");
  src: url("../../assets/fonts/georgia-bold.eot") format("embedded-opentype"),
    url("../../assets/fonts/georgia-bold.woff2") format("woff2"),
    url("../../assets/fonts/georgia-bold.woff") format("woff"),
    url("../../assets/fonts/georgia-bold.ttf") format("truetype"),
    url("../../assets/fonts/georgia-bold.svg#georgia-bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Icons";
  src: url("../../assets/fonts/Icons.eot?s27z1w");
  src: url("../../assets/fonts/Icons.eot?s27z1w#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/Icons.ttf?s27z1w") format("truetype"),
    url("../../assets/fonts/Icons.woff?s27z1w") format("woff"),
    url("../../assets/fonts/Icons.svg?s27z1w#Icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  font-family: "Icons" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bowls:before {
  content: "\e906";
}
.icon-collars:before {
  content: "\e907";
}
.icon-medicines:before {
  content: "\e908";
}
.icon-food:before {
  content: "\e909";
}
.icon-shampoos:before {
  content: "\e90a";
}
.icon-sleeping-area:before {
  content: "\e90b";
}
.icon-toys:before {
  content: "\e90c";
}
.icon-transportation:before {
  content: "\e90d";
}
.icon-vitamins:before {
  content: "\e90e";
}
.icon-arrow-left:before {
  content: "\e904";
}
.icon-arrow-right:before {
  content: "\e905";
}
.icon-credit-card:before {
  content: "\e900";
}
.icon-email:before {
  content: "\e901";
}
.icon-marker:before {
  content: "\e902";
}
.icon-phone:before {
  content: "\e903";
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header {
  display: block;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  font: normal normal normal 15px/1 Georgia;
  color: #545454;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

._container {
  display: flex;
  max-width: 1200px;
  margin: 0px auto;
  padding-top: 80px;
  padding-bottom: 100px;
}

/* ===================== HEADER ======================== */

.header {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 5;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
}

/* .header__logo {
} */

.header__title {
  width: 184px;
  height: 35px;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.053em;
  color: #f1cdb3;
}

.header__subtitle {
  width: 179px;
  height: 15px;
  margin: 10px 0 0 4px;
  font-family: Arial;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0.0933em;
  color: #fff;
}

/* ---------------------menu------------------------ */

.header__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 443px;
  height: 27px;
  margin-bottom: 1px;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  width: inherit;
  height: inherit;
}

/* .menu__item {
} */

.menu__item:first-child a {
  border-bottom: 3px solid #f1cdb3;
  color: #fafafa;
}

.menu__item:hover a {
  color: #fafafa;
}

.menu__item:active a {
  border-bottom: 3px solid #f1cdb3;
}

.menu__link {
  display: inline-block;
  font-family: Arial;
  line-height: 160%;
  color: #cdcdcd;
  border-bottom: 3px solid transparent;
  transition: 0.1s;
}

/* ===================== NOT-ONLY ======================== */

.main {
  flex: 1 1 auto;
}

.not-only {
  background: url(../../assets/images/noise_transparent.png) 0% 0%/125px repeat,
    radial-gradient(circle farthest-side at 0 0, #5b483a 0%, #262425 100%)
      no-repeat,
    #211f20;
}

.not-only__container {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 180px;
  padding-bottom: 0;
}

.not-only__column {
  display: flex;
  flex-direction: column;
  width: 460px;
  margin-bottom: 80px;
}

.not-only__column > *:not(:last-child) {
  margin-bottom: 42px;
}

.title {
  height: 90px;
  line-height: 130%;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.not-only__title {
  width: 310px;
  height: 114px;
  font-size: 44px;
  letter-spacing: 0;
  color: #ffffff;
}

.not-only__text {
  font-family: Arial;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #cdcdcd;
}

.not-only__button {
  width: 207px;
}

.not-only__button:hover {
  background: #fddcc4;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52px;
  border-radius: 100px;
  background: #f1cdb3;
  font-size: 17px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #292929;
  cursor: pointer;
  transition: 0.3s;
}

/* .not-only__image {
} */

.not-only__puppy {
  max-width: 100%;
  height: auto;
}

/* ===================== ABOUT ======================== */

.about {
  background: #ffffff;
}

.about__container {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 120px;
}

/* .about__image {
} */

/* .about__pets {
} */

.about__column {
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 380px;
}

.about__column > *:not(:last-child) {
  margin-bottom: 25px;
}

.about__title {
  width: 370px;
}

.about__text {
  font-family: Arial;
  line-height: 160%;
  letter-spacing: 0.01em;
  color: #4c4c4c;
}

/* ===================== PETS ======================== */

.pets {
  background: #f6f6f6;
}

.pets__container {
  flex-direction: column;
  align-items: center;
}

.pets__container > *:not(:last-child) {
  margin-bottom: 60px;
}

.pets__title {
  width: 400px;
  text-align: center;
}

.pets__slider-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.pets__slider-wrapper {
  width: 100%;
}

.pets__slider-items {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.pets__slider-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 9px;
  background: #fafafa;
  transition: 0.3s;
}

.pets__slider-item:hover {
  cursor: pointer;
  background: #fff;
  box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.pets__slider-item:hover button {
  background: #fddcc4;
  border: 2px solid #fddcc4;
}

.pets__slider-item > * {
  margin-bottom: 30px;
}

/* .pets__image {
} */

.pets__name {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1px;
  width: 83px;
  height: 23px;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.pets__item-button {
  width: 187px;
  border: 2px solid #f1cdb3;
  background: none;
}

.pets__item-button:hover:active {
  background: none;
  border: 2px solid #f1cdb3;
}

.pets__slider-control {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  padding: 23px 19px;
  border: 2px solid #f1cdb3;
  border-radius: 100%;
  background: transparent;
  font-size: 6px;
  color: #292929;
  cursor: pointer;
  transition: 0.3s;
}

.pets__slider-control:hover {
  background: #fddcc4;
  border: 2px solid #fddcc4;
}

.pets__slider-control:disabled {
  background: transparent;
  border: 2px solid #cdcdcd;
  color: #cdcdcd;
}

.icon-arrow-left {
  margin-right: 8px;
}

.icon-arrow-right {
  margin-left: 8px;
}

.pets__button {
  width: 261px;
}

.pets__button:hover {
  background: #fddcc4;
}

/* ===================== HELP ======================== */

.help {
  background: #fff;
}

.help__container {
  flex-direction: column;
  align-items: center;
}

.help__title {
  text-align: center;
}

.help__list-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 55px 120px;
  margin: 60px 87px 0 87px;
  height: 281px;
}

.help__item-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.help__item-icon {
  font-size: 60px;
  text-align: center;
  color: #f1cdb3;
}

.help__item-text {
  font-size: 20px;
  line-height: 115%;
  text-align: center;
  letter-spacing: 0.05em;
  color: #545454;
}

/* ===================== DONATION ======================== */

.donation {
  background: #f6f6f6;
}

.donation__container {
  align-items: center;
  justify-content: space-between;
  padding-left: 143px;
  padding-right: 142px;
}

/* .donation__image {
} */

/* .donation__dog {
} */

.donation__column {
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 282px;
}

.donation__column > *:not(:last-child) {
  margin-bottom: 20px;
}

.donation__title {
  width: 300px;
}

.donation__subtitle {
  width: 307px;
  height: 17px;
  line-height: 110%;
  letter-spacing: 0.049em;
}

.donation__button {
  justify-content: space-between;
  width: 349px;
  height: 43px;
  border-radius: 9px;
  padding: 10px 15px;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

.donation__button:hover {
  background: #fddcc4;
}

.icon-credit-card {
  display: inline-block;
  width: 30px;
  height: 23px;
  text-align: center;
  font-size: 23px;
  color: #292929;
}

.donation__card-number {
  display: inline-block;
  height: 100%;
  color: inherit;
}

.donation__info {
  font-family: Arial;
  font-style: italic;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: -0.011em;
  color: #b2b2b2;
}

/* ===================== FOOTER ======================== */

.footer {
  background: url(../../assets/images/noise_transparent.png) 0% 0%/125px repeat,
    radial-gradient(circle farthest-side at 0 0, #5b483a 0%, #262425 100%),
    #211f20;
}

.footer__container {
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-bottom: 0;
}

.footer__contacts {
  width: 278px;
  height: 234px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 16px;
}

.footer__contacts-title {
  color: #fff;
  letter-spacing: 0.059em;
}

.footer-link {
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.05em;
  color: #f1cdb3;
}

.footer__icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  font-size: 32px;
  color: #f1cdb3;
}

.footer__text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__email {
  width: 251px;
}

.footer__phone {
  width: 239px;
}

.footer__locations {
  width: 302px;
  height: 234px;
}

.footer__locations-title {
  color: #fff;
  letter-spacing: 0.065em;
}

.footer__address {
  width: 300px;
}

/* .footer__image {
} */

/* .footer__puppy {
} */

::-webkit-scrollbar {
  width: 6px;
  background-color: #f6f6f6;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: radial-gradient(
        190% 100% at 50% 0%,
        #f3c6a5 0%,
        #5b483a 50%,
        #262425 50%
      )
      200%/100% no-repeat,
    #000;
  box-shadow: #000000 0 2px 5px;
}
::-webkit-scrollbar-track {
  box-shadow: 5px 5px 5px -5px #5b483a inset;
  background-color: #f6f6f6;
}
