@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/arial-regular.eot");
  src: url("../../assets/fonts/arial-regular.eot") format("embedded-opentype"),
    url("../../assets/fonts/arial-regular.woff2") format("woff2"),
    url("../../assets/fonts/arial-regular.woff") format("woff"),
    url("../../assets/fonts/arial-regular.ttf") format("truetype"),
    url("../../assets/fonts/arial-regular.svg#arial-regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/arial-italic.eot");
  src: url("../../assets/fonts/arial-italic.eot") format("embedded-opentype"),
    url("../../assets/fonts/arial-italic.woff2") format("woff2"),
    url("../../assets/fonts/arial-italic.woff") format("woff"),
    url("../../assets/fonts/arial-italic.ttf") format("truetype"),
    url("../../assets/fonts/arial-italic.svg#arial-italic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/georgia-regular.eot");
  src: url("../../assets/fonts/georgia-regular.eot") format("embedded-opentype"),
    url("../../assets/fonts/georgia-regular.woff2") format("woff2"),
    url("../../assets/fonts/georgia-regular.woff") format("woff"),
    url("../../assets/fonts/georgia-regular.ttf") format("truetype"),
    url("../../assets/fonts/georgia-regular.svg#georgia-regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/georgia-bold.eot");
  src: url("../../assets/fonts/georgia-bold.eot") format("embedded-opentype"),
    url("../../assets/fonts/georgia-bold.woff2") format("woff2"),
    url("../../assets/fonts/georgia-bold.woff") format("woff"),
    url("../../assets/fonts/georgia-bold.ttf") format("truetype"),
    url("../../assets/fonts/georgia-bold.svg#georgia-bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Icons";
  src: url("../../assets/fonts/Icons.eot?s27z1w");
  src: url("../../assets/fonts/Icons.eot?s27z1w#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/Icons.ttf?s27z1w") format("truetype"),
    url("../../assets/fonts/Icons.woff?s27z1w") format("woff"),
    url("../../assets/fonts/Icons.svg?s27z1w#Icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  font-family: "Icons" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bowls:before {
  content: "\e906";
}
.icon-collars:before {
  content: "\e907";
}
.icon-medicines:before {
  content: "\e908";
}
.icon-food:before {
  content: "\e909";
}
.icon-shampoos:before {
  content: "\e90a";
}
.icon-sleeping-area:before {
  content: "\e90b";
}
.icon-toys:before {
  content: "\e90c";
}
.icon-transportation:before {
  content: "\e90d";
}
.icon-vitamins:before {
  content: "\e90e";
}
.icon-arrow-left:before {
  content: "\e904";
}
.icon-arrow-right:before {
  content: "\e905";
}
.icon-credit-card:before {
  content: "\e900";
}
.icon-email:before {
  content: "\e901";
}
.icon-marker:before {
  content: "\e902";
}
.icon-phone:before {
  content: "\e903";
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  font: normal normal normal 15px/1 Georgia;
  color: #545454;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  margin-top: 120px;
}

._container {
  display: flex;
  max-width: 1200px;
  margin: 0px auto;
  padding-top: 80px;
  padding-bottom: 100px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  background: #fff;
}

.header__container {
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* .header__logo {
} */

.header__title {
  height: 35px;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}

.header__subtitle {
  height: 15px;
  margin: 10px 0 0 4px;
  font-family: Arial;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0.1em;
  color: #292929;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 443px;
  height: 27px;
  margin-bottom: 1px;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  width: inherit;
  height: inherit;
}

/* .menu__item {
} */

.menu__item:nth-child(2) a {
  border-bottom: 3px solid #f1cdb3;
  color: #292929;
}

.menu__item:hover a {
  color: #292929;
}

.menu__item:active a {
  border-bottom: 3px solid #f1cdb3;
}

.menu__link {
  display: inline-block;
  font-family: Arial;
  line-height: 160%;
  color: #545454;
  border-bottom: 3px solid transparent;
  transition: 0.1s;
}

.main {
  flex: 1 1 auto;
}

.pets {
  background: #f6f6f6;
}

.pets__container {
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

.pets__container > *:not(:last-child) {
  margin-bottom: 45px;
}

.pets__title {
  text-align: center;
  margin: 0 auto;
}

.title {
  height: 90px;
  line-height: 130%;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.pets__cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px 40px;
  padding: 15px 0;
}

.pets__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 9px;
  background: #fafafa;
  transition: 0.3s;
}

.pets__card:hover {
  cursor: pointer;
  background: #fff;
  box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.pets__card:hover button {
  background: #fddcc4;
  border: 2px solid #fddcc4;
}

.pets__card > * {
  margin-bottom: 30px;
}

/* .pets__image {
} */

.pets__name {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 23px;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52px;
  border-radius: 100px;
  background: #f1cdb3;
  font-size: 17px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #292929;
  cursor: pointer;
  transition: 0.3s;
}

.pets__card-button {
  width: 187px;
  border: 2px solid #f1cdb3;
  background: none;
}

.pets__card-button:hover:active {
  background: none;
  border: 2px solid #f1cdb3;
}

.pets__buttons-container {
  display: flex;
  gap: 20px;
  margin: 0 auto;
}

.pets__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 100%;
  background: transparent;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #292929;
  cursor: pointer;
  transition: 0.3s;
}

.active {
  background: #f1cdb3;
  cursor: default;
}

.pets__button:hover:not(.active) {
  background: #fddcc4;
  border: 2px solid #fddcc4;
}

.pets__button:hover:active {
  background: #f1cdb3;
  border: 2px solid #f1cdb3;
}

.pets__button:disabled,
.pets__button:hover:disabled {
  background: transparent;
  border: 2px solid #cdcdcd;
  color: #cdcdcd;
  cursor: default;
}

.footer {
  background: url(../../assets/images/noise_transparent.png) 0% 0%/125px repeat,
    radial-gradient(circle farthest-side at 0 0, #5b483a 0%, #262425 100%),
    #211f20;
}

.footer__container {
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-bottom: 0;
}

.footer__contacts {
  width: 278px;
  height: 234px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 16px;
}

.footer__contacts-title {
  color: #fff;
  letter-spacing: 0.059em;
}

.footer-link {
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.05em;
  color: #f1cdb3;
}

.footer__icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  font-size: 32px;
  color: #f1cdb3;
}

.footer__text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__email {
  width: 251px;
}

.footer__phone {
  width: 239px;
}

.footer__locations {
  width: 302px;
  height: 234px;
}

.footer__locations-title {
  color: #fff;
}

.footer__address {
  width: 300px;
}

/* .footer__image {
} */

/* .footer__puppy {
} */

::-webkit-scrollbar {
  width: 6px;
  background-color: #f6f6f6;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: radial-gradient(
        190% 100% at 50% 0%,
        #f3c6a5 0%,
        #5b483a 50%,
        #262425 50%
      )
      200%/100% no-repeat,
    #000;
  box-shadow: #000000 0 2px 5px;
}
::-webkit-scrollbar-track {
  box-shadow: 5px 5px 5px -5px #5b483a inset;
  background-color: #f6f6f6;
}
